nav {
    font-family: "roboto", roboto;
    font-size: 1.5rem;
    color: #068d80;
    background: #c1f4eb;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);  
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 1.5rem; 
    flex-grow: 1;
}


nav a {
    text-decoration: none;
    color: inherit;
    padding: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.logo {
    padding-left: 1.5rem;
}

.img {
    padding-right: 1.5rem
}

nav a.active {
    background-color: #a6e8db;
}